@media (max-width: 999px) {
    .navbar{
        .hamburger{
            display: block !important;
        }

        &.scrolled{
            .navbar-nav{
                top: 110px;
            }
        }

        .navbar-nav{
            flex-direction: column !important;
            position: absolute;
            width: 100%;
            height: 100vh;
            background-color: #fff;
            top: 130px;
            right: -100%;
            transition: all .4s linear;
            z-index: 99;
            justify-content: center;
            text-align: center;
            justify-content: flex-start;

            &.active-nav{
                right: 0px !important;
            }

            .nav-item{
                .nav-link{
                    color: #000 !important;
                }
            }
        }
    }

    .about-us .carousel-content , .objectives .image-content{
        margin: 0px !important;
    }

    .about-us .carousel-content .item img{
        border-radius: 20px !important;
        height: 300px !important;
        width: 90% !important;
        margin: auto !important;
    }
    .objectives .image-content ,.category .image-content{
        height: 300px !important;
    }

    header{
        padding: 124px 0px 0px !important;

        .image-content img{
            object-position: bottom !important;
        }
    }

    .category .nav .nav-item .nav-link{
        width: 151px !important;

        span{
            font-size: 14px !important;
        }
    }
}