@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
  font-weight: 900;
}

* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "ExpoArabic" , sans-serif;
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: #917126;
  color: #fff;
}

*::selection {
  background-color: #917126;
  color: #fff;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #ccc;
}

*::-webkit-scrollbar-thumb {
  background: #917126;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #917126;
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 30px !important;
  height: 4px !important;
  border-radius: 30px !important;
  background-color: #917126;
  opacity: .5;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
  background-color: #917126;
}

.overflowNone {
  overflow: hidden;
}

.custom-btn {
  width: 240px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #917126;
  background-color: #917126;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  z-index: 99;
}

.custom-btn::after, .custom-btn::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #fff;
  top: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: -1;
}

.custom-btn::after {
  left: 0;
}

.custom-btn::before {
  right: 0;
}

.custom-btn:hover {
  color: #917126;
}

.custom-btn:hover::after, .custom-btn:hover::before {
  width: 55%;
}

.heading {
  margin-bottom: 50px;
}

.heading h4 {
  color: #917126;
  font-size: 30px;
  font-weight: 900;
  padding: 0px 0px 25px 0px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.heading h4::after, .heading h4::before {
  content: '';
  position: absolute;
  height: 3px;
  background: -webkit-gradient(linear, right top, left top, from(#917126), to(#282828));
  background: linear-gradient(-90deg, #917126, #282828);
  right: 0;
}

.heading h4::after {
  bottom: 0px;
  width: 20px;
}

.heading h4::before {
  bottom: 10px;
  width: 40px;
}

/***************************** Start Animations *****************************/
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
            transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale3d(1, 1, 1);
            transform: rotate(360deg) scale3d(1, 1, 1);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
            transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale3d(1, 1, 1);
            transform: rotate(360deg) scale3d(1, 1, 1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

/*rotation animation*/
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/*spinner loading page*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*start the wave animation*/
@-webkit-keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@-webkit-keyframes niceAnimate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes niceAnimate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@-webkit-keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

/*flipping*/
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}

/*shadow animation*/
@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}

/*start rotate*/
@-webkit-keyframes rotate {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
  25% {
    border-top-left-radius: 30%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 70%;
  }
  50% {
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 30%;
  }
  75% {
    border-top-left-radius: 70%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
}
@keyframes rotate {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
  25% {
    border-top-left-radius: 30%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 70%;
  }
  50% {
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 30%;
  }
  75% {
    border-top-left-radius: 70%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@-webkit-keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

.navbar {
  width: 100%;
  padding: 15px 0px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.navbar.scrolled {
  padding: 5px 0px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(145, 113, 38, 0.2);
          box-shadow: 0px 0px 10px rgba(145, 113, 38, 0.2);
}

.navbar.scrolled .brand-name img {
  height: 60px;
}

.navbar.scrolled .nav-item .nav-link {
  color: #282828 !important;
}

.navbar.scrolled .nav-item .nav-link.active, .navbar.scrolled .nav-item .nav-link:hover {
  color: #917126 !important;
}

.navbar.scrolled .hamburger .line {
  background-color: #917126 !important;
}

.navbar .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .content .hamburger {
  display: none;
}

.navbar .content .hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar .content .hamburger.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .content .hamburger.active .line:nth-child(2) {
  width: 0px;
}

.navbar .content .hamburger.active .line:nth-child(3), .navbar .content .hamburger.active .line:nth-child(1) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.navbar .content .hamburger.active .line:nth-child(1) {
  -webkit-transform: translateY(6.5px);
          transform: translateY(6.5px);
}

.navbar .content .hamburger.active .line:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(90deg);
          transform: translateY(-15px) rotate(90deg);
}

.navbar .content .brand-name img {
  width: 120px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.navbar .content .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .content .navbar-nav .nav-item {
  margin: 0px 10px;
}

.navbar .content .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 2rem;
}

.navbar .content .navbar-nav .nav-item .nav-link.active, .navbar .content .navbar-nav .nav-item .nav-link:hover {
  color: #282828;
}

header {
  width: 100%;
  padding: 230px 0px 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#917126), to(#282828));
  background: linear-gradient(-180deg, #917126, #282828);
  position: relative;
  z-index: 99;
  overflow: hidden;
}

header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/pattern.png") center/cover no-repeat;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: .15;
}

header .owl-item,
header .owl-stage,
header .owl-stage-outer,
header .owl-carousel,
header .item {
  width: 100%;
  height: 100%;
}

header .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .content h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  line-height: 30px;
  margin: 0px;
}

header .content p {
  color: #f9f9f9;
  font-size: 15px;
  font-weight: 500;
  line-height: 2rem;
  margin: 20px 0px;
  text-align: justify;
}

header .content .custom-btn {
  border: 1px solid #fff !important;
  background-color: #fff !important;
  color: #917126 !important;
}

header .content .custom-btn::after, header .content .custom-btn::before {
  background-color: #917126 !important;
}

header .content .custom-btn:hover {
  color: #fff !important;
}

header .image-content {
  width: 100%;
  height: 390px;
}

header .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}

header .owl-theme .owl-dots .owl-dot span,
header .owl-theme .owl-dots .owl-dot.active span,
header .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #fff !important;
}

header .owl-theme .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us {
  width: 100%;
  padding: 80px 0px 80px 0px;
  background-color: #fff;
  overflow: hidden;
}

.about-us .content .heading {
  margin-bottom: 0px !important;
}

.about-us .content .heading h4 {
  margin: unset !important;
}

.about-us .content p {
  color: #282828;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  line-height: 2rem;
  margin: 20px 0px;
}

.about-us .carousel-content {
  width: 100%;
  margin-right: 20%;
}

.about-us .carousel-content .item img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px 20px 20px 0px;
}

.about-us .carousel-content .owl-nav {
  position: absolute;
  margin: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us .carousel-content .owl-nav button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: #fff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 10px rgba(145, 113, 38, 0.2);
          box-shadow: 0px 0px 10px rgba(145, 113, 38, 0.2);
}

.about-us .carousel-content .owl-nav button i {
  color: #917126;
  font-size: 20px;
}

.about-us .carousel-content .owl-nav button:hover {
  background: #917126 !important;
}

.about-us .carousel-content .owl-nav button:hover i {
  color: #fff;
}

.category {
  width: 100%;
  background-color: #fff;
  position: relative;
  padding: 80px 0px;
  z-index: 9;
  overflow: hidden;
}

.category::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/pattern.png") center/cover no-repeat;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: .15;
}

.category .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px;
}

.category .nav .nav-item {
  margin: 10px 10px;
}

.category .nav .nav-item .nav-link {
  width: 163px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f8f8f8;
  border: 0px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.category .nav .nav-item .nav-link img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
  -webkit-filter: invert(40%) sepia(79%) saturate(375%) hue-rotate(4deg) brightness(95%) contrast(92%);
          filter: invert(40%) sepia(79%) saturate(375%) hue-rotate(4deg) brightness(95%) contrast(92%);
}

.category .nav .nav-item .nav-link span {
  color: #917126;
  font-size: 16px;
  font-weight: 900;
}

.category .nav .nav-item .nav-link.active, .category .nav .nav-item .nav-link:hover {
  background-color: #917126;
}

.category .nav .nav-item .nav-link.active img, .category .nav .nav-item .nav-link:hover img {
  -webkit-filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(348deg) brightness(102%) contrast(105%);
          filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(348deg) brightness(102%) contrast(105%);
  -webkit-animation: tada .4s both;
          animation: tada .4s both;
}

.category .nav .nav-item .nav-link.active span, .category .nav .nav-item .nav-link:hover span {
  color: #fff;
}

.category .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category .desc {
  color: #181818;
  font-size: 15px;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 20px;
}

.category .image-content {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.category .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.objectives {
  width: 100%;
  padding: 80px 0px 40px 0px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.objectives .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.objectives .content .heading h4 {
  margin: unset;
}

.objectives .content p {
  color: #181818;
  font-size: 15px;
  font-weight: 500;
  line-height: 2rem;
  margin: 0px;
}

.objectives .image-content {
  width: 100%;
  height: 500px;
  margin-right: 23%;
}

.objectives .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}

.people-say {
  width: 100%;
  padding: 50px 0px;
  background-color: rgba(145, 113, 38, 0.06);
  position: relative;
  z-index: 9;
  overflow: hidden;
}

.people-say::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/pattern_2.png") bottom/contain repeat-x;
  bottom: 0;
  left: 0;
  opacity: .1;
  z-index: -1;
}

.people-say .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.people-say .content h5 {
  color: #917126;
  font-size: 20px;
  font-weight: 900;
  margin: 0px;
}

.people-say .content p {
  color: #282828;
  font-size: 14px;
  font-weight: 500;
  line-height: 2rem;
  margin: 40px 0px;
}

.contact-us {
  width: 100%;
  padding: 80px 0px 60px 0px;
  background-color: #fff;
  overflow: hidden;
}

.contact-us .box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px 15px;
  background-color: #f8f8f8;
  text-align: center;
  height: 100%;
  position: relative;
  z-index: 99;
  border-radius: 20px;
  overflow: hidden;
}

.contact-us .box::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: #917126;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.contact-us .box .image-content img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
  -webkit-filter: invert(45%) sepia(8%) saturate(3388%) hue-rotate(4deg) brightness(97%) contrast(91%);
          filter: invert(45%) sepia(8%) saturate(3388%) hue-rotate(4deg) brightness(97%) contrast(91%);
}

.contact-us .box .content h4 {
  color: #917126;
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-us .box .content p {
  color: #282828;
  font-size: 14px;
  font-weight: 400;
}

.contact-us .box:hover img {
  -webkit-animation: tada .4s linear;
          animation: tada .4s linear;
  -webkit-filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(348deg) brightness(102%) contrast(105%);
          filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(348deg) brightness(102%) contrast(105%);
}

.contact-us .box:hover h4 {
  color: #fff;
}

.contact-us .box:hover p {
  color: #f8f8f8;
}

.contact-us .box:hover::after {
  height: 100%;
}

.copyrights {
  width: 100%;
  padding: 20px 0px;
  background-color: #181818;
}

.copyrights p {
  text-align: center;
  margin: 0px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 999px) {
  .navbar .hamburger {
    display: block !important;
  }
  .navbar.scrolled .navbar-nav {
    top: 110px;
  }
  .navbar .navbar-nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    top: 130px;
    right: -100%;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
    z-index: 99;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar .navbar-nav.active-nav {
    right: 0px !important;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    color: #000 !important;
  }
  .about-us .carousel-content, .objectives .image-content {
    margin: 0px !important;
  }
  .about-us .carousel-content .item img {
    border-radius: 20px !important;
    height: 300px !important;
    width: 90% !important;
    margin: auto !important;
  }
  .objectives .image-content, .category .image-content {
    height: 300px !important;
  }
  header {
    padding-top: 0px !important;
  }
  header .image-content img {
    -o-object-position: bottom !important;
       object-position: bottom !important;
  }
  header .order-mobile-0 {
    -webkit-box-ordinal-group: 1 !important;
        -ms-flex-order: 0 !important;
            order: 0 !important;
  }
  header .order-mobile-1 {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
  .category .nav .nav-item .nav-link {
    width: 151px !important;
  }
  .category .nav .nav-item .nav-link span {
    font-size: 14px !important;
  }
}
/*# sourceMappingURL=style.css.map */