@import 'global';
@import 'animations';
.navbar{
    width: 100%;
    padding: 15px 0px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all .4s linear;

    &.scrolled{
        padding: 5px 0px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba($color: #917126 , $alpha: .2);

        .brand-name img{
            height: 60px;
        }
        .top-nav{
            display: none;
        }
        .nav-item .nav-link{
            color: #282828 !important;

            &.active , &:hover{
                color: #917126 !important;
            }
        }

        .hamburger{
            .line{
                background-color: #917126 !important;
            }
        }
    }

    .top-nav{
        width: 100%;
        padding-bottom: 10px;

        .location{
            display: flex;
            align-items: center;
            align-content: center;
            height: 100%;

            li{
                padding: 0px 10px;
                border-inline-end: 1px solid #fff;
                &:last-child{
                    border: none;
                }
                a{
                    display: flex;
                    align-items: center;
                    align-content: center;
                    img{
                        width: 24px;
                        height: 24px;
                        margin-inline-end: 10px;
                        object-fit: contain;
                        filter: invert(100%) sepia(1%) saturate(5%) hue-rotate(4deg) brightness(103%) contrast(102%);
                    }

                    span{
                        color: #fff;
                        font-size: 15px;
                        font-weight: 500;
                    }

                    &:hover{
                        img{
                            animation: tada .5s both;
                        }
                    }
                }
            }
        }

        .socail-media{
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: flex-end;
            height: 100%;

            li{
                margin: 0px 0px 0px 15px;
                
                a{
                    width: 40px;
                    height: 40px;
                    background-color: #917126;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;

                    img{
                        width: 20px;
                        height: 20px;
                        object-fit: contain;
                    }

                    &:hover{
                        img{
                            animation: tada .4s both;
                        }
                    }
                }
            }
        }
    }

    .content{
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;

        .hamburger{
            display: none;

            .line{
                width: 30px;
                height: 3px;
                background-color: #fff;
                display: block;
                margin: 8px auto;
                transition: all 0.3s ease-in-out;
            }

            &.active{
                transition: all 0.3s ease-in-out;
                transition-delay: 0.6s;
                transform: rotate(45deg);
                
                .line{
                    &:nth-child(2){
                        width: 0px;
                    }

                    &:nth-child(3), 
                    &:nth-child(1){
                        transition-delay: 0.3s;
                    }

                    &:nth-child(1){
                        transform: translateY(6.5px);
                    }

                    &:nth-child(3){
                        transform: translateY(-15px) rotate(90deg);
                    }
                }
            }
        }

        .brand-name{
            img{
                width: 120px;
                height: 100px;
                object-fit: contain;
                transition: all .4s linear;
            }
        }

        .navbar-nav{
            flex-direction: row;

            .nav-item{
                margin: 0px 10px;

                .nav-link{
                    color: #fff;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 2rem;
                    &.active , &:hover{
                        color: #282828;
                    }
                }
            }
        }
    }
}

header{
    .item{
        width: 100%;
        padding: 230px 0px 100px;
        position: relative;
        z-index: 99;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: .5);
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        img{
            width: 120px;
            height: 100px;
            object-fit: contain;
            margin-bottom: 25px;
        }
        h4{
            color: #fff;
            font-size: 30px;
            font-weight: 900;
            line-height: 30px;
            margin: 0px;
        }
        p{
            color: #f9f9f9;
            font-size: 15px;
            font-weight: 500;
            line-height: 2rem;
            margin: 20px 0px;
            text-align: justify;
        }

        .custom-btn{
            border: 1px solid #fff !important;
            background-color: #fff !important;
            color: #917126 !important;

            &::after , &::before{
                background-color: #917126 !important;
            }

            &:hover{
                color: #fff !important;
            }
        }
    }

    .owl-theme .owl-dots .owl-dot span , 
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span{
        background-color: #fff !important;
    }

    .owl-theme .owl-dots{
        display: flex;
    }
}

.sub-header{
    width: 100%;
    padding: 200px 0px 50px;
    background-color: #917126;

    .heading{
        h4{
            color: #fff;

            &::before{
                background: #917126 url('../images/heading_shape.svg') center/contain no-repeat;
            }
        }
    }
}

.about-us{
    width: 100%;
    padding: 80px 0px 80px 0px;
    background-color: #fff;
    overflow: hidden;

    .content{
        .heading{
            margin-bottom: 0px !important;
            h4{
                margin: unset !important;
            }
        }

        p{
            color: #282828;
            font-size: 15px;
            font-weight: 400;
            text-align: justify;
            line-height: 2rem;
            margin: 20px 0px;
        }
    }

    .carousel-content{
        width: 100%;
        margin-right: 20%;

        .item{
            img{
                width: 100%;
                height: 500px;
                object-fit: cover;
                border-radius: 0px 20px 20px 0px;
            }
        }
        .owl-nav{
            position: absolute;
            margin: 0px;
            bottom: 0px;
            right: 0px;
            z-index: 9999;
            display: flex;

            button{
                width: 50px;
                height: 50px;
                border-radius: 10px;
                background: #fff !important;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                box-shadow: 0px 0px 10px rgba($color: #917126 , $alpha: .2);

                i{
                    color: #917126;
                    font-size: 20px;
                }

                &:hover{
                    background: #917126 !important;

                    i{
                        color: #fff;
                    }
                }
            }
        }
    }
}

.category{
    width: 100%;
    background-color: #fff;
    position: relative;
    padding: 80px 0px;
    z-index: 9;
    overflow: hidden;

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../images/pattern.png') center/cover no-repeat;
        z-index: -1;
        top: 0;
        left: 0;
        opacity: .15;
    }  

    .nav{
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        border: 0px;

        .nav-item{
            margin: 10px 10px;

            .nav-link{
                width: 163px;
                padding: 10px 20px;
                border-radius: 10px;
                background-color: #f8f8f8;
                border: 0px !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                text-align: center;

                img{
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                    margin-bottom: 20px;
                    filter: invert(40%) sepia(79%) saturate(375%) hue-rotate(4deg) brightness(95%) contrast(92%);
                }

                span{
                    color: #917126;
                    font-size: 16px;
                    font-weight: 900;
                }

                &.active , &:hover{
                    background-color: #917126;
                    img{
                        filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(348deg) brightness(102%) contrast(105%);
                        animation: tada .4s both;
                    }

                    span{
                        color: #fff;
                    }
                }
            }
        }
    }
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .desc{
        color: #181818;
        font-size: 15px;
        font-weight: 500;
        line-height: 2rem;
        margin-bottom: 20px;
    }

    .image-content{
        width: 100%;
        height: 400px;
        border-radius: 10px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.objectives{
    width: 100%;
    padding: 80px 0px 0px 0px;
    position: relative;
    background-color: #fff;
    overflow: hidden;

    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .heading{
            h4{
                margin: unset;
            }
        }

        p{
            color: #181818;
            font-size: 15px;
            font-weight: 500;
            line-height: 2rem;
            margin: 0px;
        }
    }
    .image-content{
        width: 100%;
        height: 500px;
        margin-right: 23%;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom;
        }
    }
}

.hotels{
    width: 100%;
    padding: 40px 0px;
    background-color: rgba($color: #917126 , $alpha: .05);

    .box{
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        background-color: #fff;
        transition: all .4s linear;

        &:hover{
            transform: translateY(-10px);
        }
        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: center;
        }

        .content{
            width: 100%;
            padding: 20px 10px;
            text-align: center;

            h4{
                color: #000;
                font-size: 20px;
                font-weight: 800;
                margin-bottom: 20px;
            }

            .custom-btn{
                width: 100%;
            }
        }
    }
}

.gallery{
    width: 100%;
    padding: 60px 0px;
    background-color: #fff;
    overflow: hidden;

    .item{
        img{
            width: 100%;
            height: 200px;
            border-radius: 20px;
            object-fit: cover;
            object-position: center;
            transition: all .2s linear;

            &:hover{
                transform: translateY(-10px);
            }
        }
    }

    .owl-stage-outer{
        padding: 20px 0px 0px 0px;
    }
}

.people-say{
    width: 100%;
    padding: 50px 0px;
    background-color: rgba($color: #917126 , $alpha: .06);
    position: relative;
    z-index: 9;
    overflow: hidden;

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../images/pattern_2.png') bottom/contain repeat-x;
        bottom: 0;
        left: 0;
        opacity: .1;
        z-index: -1;
    }

    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;

        h5{
            color: #917126;
            font-size: 20px;
            font-weight: 900;
            margin: 0px;
        }

        p{
            color: #282828;
            font-size: 14px;
            font-weight: 500;
            line-height: 2rem;
            margin: 40px 0px;
        }
    }
}

.contact-us{
    width: 100%;
    padding: 80px 0px 60px 0px;
    background-color: #fff;
    overflow: hidden;

    .box{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 20px 15px;
        background-color: #f8f8f8;
        text-align: center;
        height: 100%;
        position: relative;
        z-index: 99;
        border-radius: 20px;
        overflow: hidden;

        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 0%;
            background-color: #917126;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .3s linear;
        }

        .image-content{
            img{
                width: 80px;
                height: 80px;
                object-fit: contain;
                margin-bottom: 20px;
                filter: invert(45%) sepia(8%) saturate(3388%) hue-rotate(4deg) brightness(97%) contrast(91%);
            }
        }

        .content{
            h4{
                color: #917126;
                font-size: 20px;
                margin-bottom: 20px;
            }

            p{
                color: #282828;
                font-size: 14px;
                font-weight: 400;
            }
        }

        &:hover{
            img{
                animation: tada .4s linear;
                filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(348deg) brightness(102%) contrast(105%);
            }

            h4{
                color: #fff;
            }

            p{
                color: #f8f8f8;
            }

            &::after{
                height: 100%;
            }
        }
    }
}

footer{
    width: 100%;
    padding: 10px 0px;
    background-color: #333;

    .content{
        img{
            width: 120px;
            height: 100px;
            object-position: center;
            object-fit: contain;
        }

        p{
            color: #fff;
            margin: 20px 0px;
            font-size: 16px;
            font-weight: 500;
            line-height: 2rem;
        }

        h4{
            color: #917126;
            font-size: 20px;
            padding: 55px 0px;
            font-weight: 900;
        }

        .link{
            li{
                margin-bottom: 29px;
                a{
                    font-size: 15px;
                    color: #fff;
                }
            }
        }

        .socail-media{
            display: flex;
            align-items: center;
            align-content: center;

            li{
                margin: 0px 0px 0px 15px;
                
                a{
                    width: 50px;
                    height: 50px;
                    background-color: #917126;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;

                    img{
                        width: 27px;
                        height: 27px;
                        object-fit: contain;
                    }

                    &:hover{
                        img{
                            animation: tada .4s both;
                        }
                    }
                }
            }
        }

        .location{

            li{
                padding: 0px 0px 40px 0px;
                a{
                    display: flex;
                    align-items: center;
                    align-content: center;
                    img{
                        width: 24px;
                        height: 24px;
                        margin-inline-end: 10px;
                        object-fit: contain;
                        filter: invert(100%) sepia(1%) saturate(5%) hue-rotate(4deg) brightness(103%) contrast(102%);
                    }

                    span{
                        color: #fff;
                        font-size: 15px;
                        font-weight: 500;
                    }

                    &:hover{
                        img{
                            animation: tada .5s both;
                        }
                    }
                }
            }
        }
    }
}

.copyrights{
    width: 100%;
    padding: 20px 0px;
    background-color: #181818;

    p{
        text-align: center;
        margin: 0px;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
    }
}

@import 'media';